.weather_container {
  /* margin: auto; */
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.weather {
  height: 250px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(114, 179, 228);
  color: rgb(40, 52, 75);
  margin: 10px;
  font-weight: 500;
  border: 3px solid rgb(237, 218, 71);
  border-radius: 16px;
  box-shadow: 1px 2px 3px
      rgb(226, 222, 233),
    2px 3px 5px rgb(237, 218, 71),
    3px 5px 10px rgb(20, 76, 119);
}

h1 {
  color: rgb(40, 52, 75);
  text-transform: uppercase;
  text-shadow: 1px 2px 3px white,
    2px 3px 5px rgb(237, 218, 71);
}

.temp {
  font-size: 30px;
  font-weight: 700;
  line-height: 0;
  text-shadow: 1px 2px rgb(237, 218, 71),
    2px 3px rgb(98, 139, 188);
}
